{{- if .Values.datastores.redis.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      {{- with .Values.global.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: redis
          image: {{ .Values.datastores.redis.image }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          args: ["--appendonly", "yes"]
          ports:
            - containerPort: {{ .Values.datastores.redis.service.port }}
              name: redis
          readinessProbe:
            tcpSocket:
              port: {{ .Values.datastores.redis.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: {{ .Values.datastores.redis.service.port }}
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: data
              mountPath: /data
          resources: {{- toYaml .Values.datastores.redis.resources | nindent 12 }}
      {{- if not .Values.datastores.redis.persistence.enabled }}
      volumes:
        - name: data
          emptyDir: {}
      {{- end }}
  {{- if .Values.datastores.redis.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ default "5Gi" .Values.datastores.redis.persistence.size }}
  {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: redis
spec:
  selector:
    app: redis
  ports:
    - name: redis
      port: {{ .Values.datastores.redis.service.port }}
      targetPort: {{ .Values.datastores.redis.service.port }}
  type: ClusterIP
{{- end }}