{{- if .Values.datastores.dynamodb.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynamodb
  namespace: {{ .Release.Namespace }}
  labels:
    app: dynamodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dynamodb
  template:
    metadata:
      labels:
        app: dynamodb
    spec:
      {{- with .Values.global.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.global.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: dynamodb
          image: {{ .Values.datastores.dynamodb.image }}
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: {{ .Values.datastores.dynamodb.service.port }}
              name: http
          readinessProbe:
            tcpSocket:
              port: {{ .Values.datastores.dynamodb.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: {{ .Values.datastores.dynamodb.service.port }}
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: data
              mountPath: /home/dynamodblocal/data
          resources: {{- toYaml .Values.datastores.dynamodb.resources | nindent 12 }}
      volumes:
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: dynamodb
  namespace: {{ .Release.Namespace }}
  labels:
    app: dynamodb
spec:
  selector:
    app: dynamodb
  ports:
    - name: http
      port: {{ .Values.datastores.dynamodb.service.port }}
      targetPort: {{ .Values.datastores.dynamodb.service.port }}
  type: ClusterIP
{{- end }}