{{- $pg := .Values.credentials.postgres -}}
{{- $runtime := .Values.runtimeConfig -}}
apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  POSTGRES_USER: "{{ $pg.superuser.username }}"
  POSTGRES_PASSWORD: "{{ $pg.superuser.password }}"
  POSTGRES_DB: "{{ $pg.superuser.database }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: db-app-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  DB_USER: "{{ $pg.application.username }}"
  DB_PASSWORD: "{{ $pg.application.password }}"
{{- range .Values.datastores.postgresql.secretMappings }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ $.Release.Namespace }}
type: Opaque
stringData:
  DATABASE_URL: "postgresql://{{ $pg.application.username }}:{{ $pg.application.password }}@{{ $runtime.dbHost }}:{{ $.Values.datastores.postgresql.service.port }}/{{ $pg.superuser.database }}?options=-c%20search_path%3D{{ .schema }}"
  DB_SCHEMA: "{{ .schema }}"
{{- end }}